html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Spartivideo - Collaborative playlists
    link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $join = $('#form-join');
        $join.submit(function(e) {
          e.preventDefault();
          window.location = '/party/' + encodeURIComponent($('#partycode').val());
        });
      });
  body
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-4 col-md-offset-4")
          h1(class="text-center") Welcome to Spartivideo!
          p(class="text-center") What do you want to do?
          form(action="",method="POST",role="form",id="form-join")
            div(class="form-group")
              div(class="input-group")
                input(type="number", id="partycode", name="search", placeholder="Enter partycode", class="form-control", min="1", step="1")
                span(class="input-group-btn")
                  button(type="submit", id="join", class="btn btn-primary") Join party
          p(class="text-center") OR
          form(action="/party/create",method="POST",role="form")
            button(type="submit", id="search", class="btn btn-primary btn-block") Create party
