doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title!='Welcome to party #' + party + '!'
    link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/spartivideo.css')
    script(src='/vendor/socket.io-client/socket.io.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/jquery.tube/jquery.tube.min.js')
    if (environment == "development")
      script(src='/playlist.js')
      script(src='/playitem.js')
      script(src='/player.js')
      script(src='/controls.js')
      script(src='/js/party.js')
    else
      script(src='/js/bundle.js')
  body(data-party-id=party)
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1!='Party #' + party
          div(class="embed-responsive embed-responsive-16by9")
            div(id="player")
        div(class="col-md-4")
          h1 Controls
          form(role="form")
            div(class="row")
              div(class="col-md-8")
                div(class="btn-group", id="controls")
                  button(type="button",class="btn btn-default control", id="step-backward", disabled="disabled")
                    span(class="glyphicon glyphicon glyphicon-step-backward")
                  button(type="button",class="btn btn-default control", id="play")
                    span(class="glyphicon glyphicon glyphicon-play")
                  button(type="button",class="btn btn-default control", id="pause")
                    span(class="glyphicon glyphicon glyphicon-pause")
                  button(type="button",class="btn btn-default control", id="step-forward", disabled="disabled")
                    span(class="glyphicon glyphicon glyphicon-step-forward")
              div(class="col-md-4")
                div(class="checkbox")
                  label
                    input(type="checkbox", id="checkbox-primary-device")
                    span Primary device
                div(class="checkbox")
                  label
                    input(type="checkbox", id="checkbox-play-device")
                    span Play on this device
          h1 Search
          form(action="/party/#{party}/song/add",method="POST",role="form")
            div(class="form-group")
              div(class="input-group")
                input(type="text", id="query", name="search", placeholder="Search YouTube", class="form-control")
                span(class="input-group-btn")
                  button(type="submit", id="search", class="btn btn-primary") Search
          div(id="tube")
          h1 Playlist
          ul(id="list", class="list-group")
            each item in partylist
              li(class="list-group-item")
                span
                  a(href="#", data-video-id=item.id, class="play")!= item.title
                  !=' '
                  //a(href="/party/#{party}/vote/up/#{item.id}", class="vote") [vote]
                  !=' '
                  //a(href="/party/#{party}/vote/remove/#{item.id}", class="vote") [vote remove]
