div#tube ol {
    padding: 0;
    margin: 0;
}
div#tube ol li {
    border-bottom: 1px dotted #cccccc;
    list-style: none;
}
div#tube ol li a {
    display: block;
    height: 50px;
}
div#tube ol li a h1 {
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
}
div#tube ol li a img {
    height: 50px;
    float: left;
    clear: left;
}
div#tube ol li a span.statistics {
    display: block;
}
div#tube ol li a span.duration {

}
div#tube ol li a span.views {
    float: right;
}
div#tube ol li p {
    display: none;
}
